@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(120, 123, 196);
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* a:hover,
a:focus,
a:active {
  color: grey;
} */

a::before {
  position: absolute;
  content: attr(data-content);
  color: #ffffff;
  text-decoration: underline;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  right: 1.5vw;
  top: 4vh;
  z-index: 1000;
  color: white;
}

.navigation div {
  padding-left: 4vw;
}

/* .navigation div {
  align-self: flex-start;
} */

.navigation ul {
  display: flex;
}

.navigation li {
  list-style: none;
  margin-right: 2vw;
}

.titles {
  padding-top: 6vh;
  padding-bottom: 70vh;
}

.project-title h1 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  margin: 10px;
  font-size: 100px;
  letter-spacing: -8px;
  text-transform: uppercase;
}

.project-overview {
  position: fixed;
  right: 10vw;
  top: 20vh;
}

.project-overview img {
  width: 50vw;
}

.top-home {
  background-color: rgba(13, 2, 27, 1);
  color: white;
  background-image: url(./visuels/blue-background.jpg);
  background-size: cover;
  -webkit-box-shadow: -1px 7px 51px 1px rgba(13, 2, 27, 1);
  -moz-box-shadow: -1px 7px 51px 1px rgba(13, 2, 27, 1);
  box-shadow: -1px 7px 51px 1px rgba(13, 2, 27, 1);
}

.underline {
  display: inline-block;
  margin-left: 15vw;
  padding-top: 16vh;
  border-bottom: 1px solid white;
}

.full-anim {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: black;
  padding-top: 8vh;
  padding-bottom: 3vh;
  /* background-color: rgba(13, 2, 27, 1); */
}

.script-bf-box {
  width: 15vw;
  height: 50vh;
  background: black;
  margin: 30px;
  will-change: transform;
  -webkit-filter: grayscale(30%);
  box-shadow: 2px 2px 30px 2px rgba(4, 52, 70, 0.5);
}

.script-bf-box:hover {
  background: hotpink;
  -webkit-filter: grayscale(0%);
}

.test-image {
  width: 15vw;
  height: 50vh;
}

.test-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  writing-mode: vertical-rl;
  display: inline-block;
  margin-left: 20vw;
  padding-bottom: 30vh;
  border-left: 1px solid white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 50vh;
}

.about-top {
  display: flex;
  padding-top: 20vh;
  padding-left: 25vw;
  padding-bottom: 15vh;
  color: rgb(13, 2, 27);
  z-index: -10000;
  font-weight: 200;
}

.skills,
.softwares {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  width: 25vw;
}

.skills {
  margin-right: 9vw;
}
.skills-title {
  display: inline-block;
  margin-bottom: 7vh;
  font-weight: 300;
}

.items {
  font-size: 2rem;
  color: white;
}

.softwares {
  width: 30vw;
}

.softwares-title {
  display: inline-block;
  margin-bottom: 4vh;
  font-size: 2.5rem;
  font-weight: 300;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.softwares img {
  width: 4vw;
  margin-right: 1vw;
  margin-top: 2vw;
}

.pro-xp {
  padding-left: 25vw;
}

.xp-title {
  display: inline-block;
  margin-bottom: 4vh;
  font-size: 2.5rem;
  font-weight: 300;
}

.xp {
  font-size: 2rem;
  color: white;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  padding-right: 21vw;
}

.xp-detail {
  width: 20vw;
}

.company {
  display: inline-block;
  border-bottom: 1px solid white;
  margin-bottom: 1vh;
}

.job {
  margin-bottom: 1vh;
}

.job-about {
  font-size: 1rem;
}
